<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org.thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
<form th:action="@{'/logout'}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit">
</form>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a th:href="@{/app}" class="navbar-brand"><h1>Logo</h1></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="" class="nav-link">Careers</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Payment</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Shipping &amp; Delivery</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/app/login}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/app/register}" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container text-center">
    <h2>Customer registration</h2>
    <form th:action="@{/app/create_customer}" method="post" th:object="${customer}"
    style="max-width: 600px; margin: 0 auto" onsubmit="return checkEmailUnique(this);">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required="required" maxlength="45" minlength="2">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required="required" maxlength="45" minlength="2">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email: </label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required="required" maxlength="45" minlength="6">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password: </label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required="required" maxlength="15" minlength="6">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone number: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" required="required" maxlength="15" minlength="8">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address line 1: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine1}" class="form-control" required="required" maxlength="64" minlength="3">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address line 2: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine2}" class="form-control" maxlength="64" minlength="3">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Country: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{country}" class="form-control" required="required" maxlength="64" minlength="2">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">City: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{city}" class="form-control" required="required" maxlength="64" minlength="3">
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Postal code: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{postalCode}" class="form-control" required="required" maxlength="10" minlength="3">
                </div>
            </div>

            <div class="text-center">
                <div>&nbsp;</div>
                <input type="submit" value="Create account" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit()
        });
    });

    function checkEmailUnique(form) {
        url = "[[@{/app/customer/check_email_unique}]]";
        userEmail = $("#email").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {email: userEmail, _csrf: csrfValue}

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated")
                alert("Email already exist: " + response);
        });

        return false;
    }
</script>
</body>
</html>