<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org.thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
<form th:action="@{'/logout'}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit">
</form>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
        <a th:href="@{/app}" class="navbar-brand"><h1>Logo</h1></a>
        <span th:case="${false}">
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a href="" class="nav-link">Careers</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Payment</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Shipping &amp; Delivery</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/app/login}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/app/register}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>
        </span>
        <span th:case="${true}">
            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a href="" class="nav-link">Careers</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Payment</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Shipping &amp; Delivery</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" sec:authentication="principal.username" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{'/app/account-details'}">Account</a></li>
                        <li><a class="dropdown-item" id="logoutLink" href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </span>
    </div>
</nav>
<div class="container">
    <div class="col-md container">
        <nav class="navbar navbar-expand-sm">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <form class="d-flex m-3" th:action="@{/search}" method="get">
                    <input type="search" name="keyword" th:value="keyword" class="form-control" placeholder="keyword" required>
                    <input type="submit" value="Search" style="margin-left: 5px" class="btn btn-outline-success">
                </form>
            </div>
        </nav>
    </div>
    <h2>Products in category</h2>
    <div th:if="${categoryList != null}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/app}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{'/app/c/' + ${pageTitle}}">[[${pageTitle}]]</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div>
                <img th:src="@{${product.logoImagePath}}" width="200px" alt="Logo">
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h2>[[${product.name}]]</h2>
            </div>
            <div>
                <span>Category: [[${product.category.name}]]</span>
            </div>
            <div>
                <span>Price: [[${product.price}]] - UAH</span>
            </div>&nbsp;
            <div>
                Description: [[${product.shortDescription}]]
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <span th:if="${product.inStock}" class="text-success"><b>In stock</b></span>
                <span th:unless="${product.inStock}" class="text-danger"><b>Out of stock</b></span>
            </div>
            <th:block th:if="${product.inStock}">
                <div th:replace="cart/quantity_control :: quantity_control(1, ${product.id})"></div>
                <div class="mt-3">
                    <input type="button" value="Add to Cart" id="buttonAdd2Cart" class="btn btn-primary">
                </div>
            </th:block>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div><hr></div>
            <div>
                <h3>Product Description</h3>
            </div>
            <div th:text="${product.fullDescription}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div><hr></div>
            <div>
                <h3>Product Details</h3>
            </div>
            <th:block th:each="detail: ${product.details}">
                <div>
                    <b>[[${detail.name}]]: </b>
                    <span>[[${detail.value}]]</span>
                </div>
            </th:block>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit()
        });
    });
</script>
<script type="text/javascript">
    productId = "[[${product.id}]]";
    let csrfHeaderName = "[[${_csrf.headerName}]]";
    let csrfValue = "[[${_csrf.token}]]";
    $(document).ready(function() {
        $(".linkMinus").on("click", function(evt) {
            evt.preventDefault();
            productId = $(this).attr("pid");
            quantityInput = $("#quantity" + productId);
            newQuantity = parseInt(quantityInput.val()) - 1;

            if (newQuantity > 0) {
                quantityInput.val(newQuantity);
            }
        });

        $(".linkPlus").on("click", function(evt) {
            evt.preventDefault();
            productId = $(this).attr("pid");
            quantityInput = $("#quantity" + productId);
            newQuantity = parseInt(quantityInput.val()) + 1;

            if (newQuantity <= 100) {
                quantityInput.val(newQuantity);
            }
        });

        $("#buttonAdd2Cart").on("click", function(evt) {
            addToCart();
        });
    });

    function addToCart() {
        quantity = $("#quantity" + productId).val();
        url = "/app/cart/add/" + productId + "/" + quantity;

        $.ajax({
            type: "POST",
            url: url,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeaderName, csrfValue);
            }
        }).done(function(response) {
            alert(response);
        }).fail(function(response) {
            alert(response);
        });
    }

</script>
</body>
</html>