<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="content" id="divProductDetail">
    <div class="form-inline">
        <label class="m-3">Name:
            <input type="text" class="form-control w-200" name="detailNames" maxlength="255">
        </label>
        <label class="m-3">Value:
            <input type="text" class="form-control w-200" name="detailValues" maxlength="255">
        </label>
    </div>
</div>
</body>
</html>